---
import { getUserSession } from "../lib/auth/get-user-session.ts";
const session = getUserSession(Astro.request);
---

<header class="px-12 py-5 flex justify-between">
  <a href="/" class="text-2xl font-bold">Astro Auth</a>
  <nav>
    <ul class="flex gap-5 items-center">
      <li>
        <a href="/">Home</a>
      </li>
      {
        session ? (
          <>
            <li>
              <a href="/dashboard">Dashboard</a>
            </li>
            <li class="cursor-pointer">
              <a href="/api/auth/logout">Logout</a>
            </li>
          </>
        ) : (
          <li>
            <a href="/login">Login</a>
          </li>
        )
      }
    </ul>
  </nav>
</header>
